
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
.Main {
    background-color: rgb(222, 224, 230);
}
img{
    border-radius: 50%;
    max-width: 120px;
}
h1{
    font-weight:100;
}
